body {
  margin: 0;
  padding: 0;
  border: 0 none;
  background: #FFFEF7;
}

ul, li {
  margin: 0;
  padding: 0;
  border: 0 none;
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

a:link, a:visited {
  color: #744720;
}

a:hover, a:active {
  color: #c28d5f;
}

li.entry > a:link, li.entry > a:visited {
  color: #222;
}

li.entry > a:hover, li.entry > a:active {
  color: #777;
}

ul.nav {
  color: #222;
  font-size: 130%;
  font-family: 'PT Sans Narrow';
}

li.entry {
  margin: 0 0 0 20px;
  display: inline;
}

.footer-msg {
  color: #777;
  font-size: 60%;
  font-family: 'PT Sans Narrow';
}

.posts-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 100%;
  font-family: 'PT Sans Narrow', 'Microsoft YaHei', 'Hiragino Sans GB';
}

.post-summary {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 7px 0;
}

.post-title {
  max-width: 50vw;
}

.post-date {
  color: #777;
}

.paginator {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

a.extend, a.page-number, span.space, span.page-number {
  margin: 0 3px;
}

span.current {
  color: #777;
}

.category-name, .tag-name {
  color: #777;
  font-size: 110%;
  font-family: 'PT Sans Narrow', 'Microsoft YaHei', 'Hiragino Sans GB';
}

@media (max-width: 450px) {
  header {
    margin: 30px 10vw 20px 10vw;
  }

  object.logo {
    width: 35px;
    height: 35px;
  }

  footer {
    margin: 0 10vw 10px 10vw;
  }

  .posts-list, .paginator {
    margin: 20px 12.5vw;
  }

  .category-name, .tag-name {
    margin: 0 12.5vw;
  }
}

@media (min-width: 450px) {
  header {
    margin: 50px 17.5vw 30px 17.5vw;
  }

  object.logo {
    width: 50px;
    height: 50px;
  }

  footer {
    margin: 0 17.5vw 30px 17.5vw;
  }

  .posts-list, .paginator {
    margin: 25px 20vw;
  }

  .category-name, .tag-name {
    margin: 0 20vw;
  }
}
