<footer id="footer">
  <div class="footer-msg">
      &copy;2012 - 2019  Brickgao |
      powered by <a href="https://github.com/hexojs/hexo" target="_blank">hexo</a> |
      theme by <a href="https://github.com/brickgao/cocoa" target="_blank">cocoa</a> |
      fork <a href="https://github.com/brickgao/brickgao.github.com" target="_blank">me</a>
  </div>
</footer>
