<header id="header">
  <div class="header-logo">
    <object data="/media/logo.svg"></object>
  </div>
  <div class="header-nav">
    <ul class="nav">
      <li class="entry" id="home">
        <a href="/">Home</a>
      </li>
      <li class="entry" id="about">
        <a href="/about/">About</a>
      </li>
      <li class="entry" id="link">
        <a href="/link/">Link</a>
      </li>
      <li class="entry" id="rss">
        <a href="/<%= url_for(theme.rss) %>">RSS</a>
      </li>
    </ul>
  </div>
</header>
